/*

/*Font*/
body {
    font-family: "Roboto", Arial;
}
.Header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.Header, .Top-container {
    background-color: #1F2937;
}
h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
h3 {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
h6 {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
}
.Bottom-container {
    background-color: #E5E7EB;
}